body {
	background: #ffffff url("http://i.imgur.com/9ZDtKXH.jpg") no-repeat fixed center; 
	font-family: Helvetica;
	
	color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

 p, ul {
 	color: #F2F2F2;
    text-align: center;
    list-style-type: none;
}
#slogan {
	font-style: italic; 
	text-align: center;
	font-size: 20 px;
}
